@{
    ViewBag.Title = "Kontakt";
}
<h2>@ViewBag.Title</h2>

<p>
    Dział Wsparcia Klienta <br/>
    pozostaje do dyspozycji w godzinach: <br />
    Pon-Pt 8:00-20:00 <br />
    Sob-Nie 9:00-17:00 <br />
</p>

<address>
    <strong>Biuro:</strong> <a href="mailto:office@inventum24.pl">office@inventum24.pl</a> <br />
    <strong>Skype:</strong><a href="skype:inventum_24?call">inventum_24</a>
</address>